
@{
    ViewBag.Title = "Best Tickets";
}

<div class="jumbotron">
    <h1>Best tickets</h1>
    <p class="lead">This site extract information about tickets from 2 site ticketbus.by and rasp.rw.by and find best price ticket.</p>
</div>

<div class="row">
</div>